body {
    margin: 0;
    background-color: #333A35;
    width: 100vw;
}

.mainContainer {
    width: 95%;
}

.pageHead {
	color: white;
}

.navBar {
    display: flex;
}

.navBar p {
	margin-right: 10px;
	max-height: 50px;
	overflow: none;
}

.navBar i {
    color: #ECA419;
}

.gearContainer{
    background-color: #dfd6c8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gearTitle{
    color: #eca237;
    width: 80%;
    text-align: center;
}

.gearTile{
    width: 80%;
    background-color: white;
    display: flex;
    margin-bottom: 5px;
    padding: 20px;
}

.tileImage{
    width: 40%;
}
.imageOne{
    background-image: url(../image/chairs.jpg);
}
.tileText{
    width: 60%;
    padding: 10px;
}
