body {
    margin: 0;
    background-color: #333A35;
    width: 99vw;
    height: 300vh;
}

.mainContainer {
    width: 95%;
    height: 100%;
    font-family: 'Muli', sans-serif;
    font-weight: bolder;
    font-size: 1.4em;
}

/*T's start*/
.navbar {
    display: flex;
    color: white;
    height: 3%;
}

#companyLogo {
    background-image: url(../image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 4.5%;
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0% 1%;
/*    width: 5%;*/
}

.styledLink {
    color: #eca237;
}

.featuresContainer {
    display: flex;
    width: 100%;
    color: white;
    height: 25%;
    font-size: 1.8em;
}

.featurescolumn {
    width: calc(100%/3*2);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.featureLeft {
    background-image: url(../image/desert780x477.jpg);
}

.columnOneText {
    text-align: center;
    height: 50%;
    display: flex;
    align-items: flex-end;
    padding: 8%;
}

#featureLeftText {
    margin: 0;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #eca237;
    padding-bottom: 5%;
}

.featurescolumn2 {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
}

.featureTopImage {
    background-image: url(../image/stream420x240.jpg);
}

.featureBotImage {
    background-image: url(../image/relax420x237.jpg);
}

.features2Text {
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: 50%;
    padding: 50px;
}

.features2Text h5 {
    margin: 0;
}



/*.features .text-block {
    position: absolute;
    top: 330px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 860px;
    font-size: xx-large;
    font-family: 'Times New Roman';

}

.features .text-block2 {
    position: absolute;
    top: 230px;
    right: -15px;
    color: white;
    padding-left: 40px;
    padding-right: 400px;
    font-size: x-large;
}

.features .text-block3 {
    position: absolute;
    bottom: 245px;
    right: 67px;
    color: white;
    padding-left: 20px;
    padding-right: 420px;
    font-size: x-large;
}

.features h4 {
    padding: 0;
    margin: 0;

}

.features h5 {
    padding: 0px 50px 0px 60px;
    margin: 0px;
    font-size: xx-large;
    border-bottom: 2px solid #ECA419;
    padding-bottom: 63px;

*/

/*T's end*/

/*Jackie's start*/
.article-container {
    width: 100%;
    height: 15%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
}

.articleBox {
    margin: 2% 1%; 
    display: flex;
    flex-direction: column;
    width: 23%;
}

.articleBox p {
    margin: 0px;
}

.articleImage {
    height: 70%;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-one {
    background-image: url(../image/recipes.jpg);
}

.image-two {
    background-image: url(../image/tent.jpg);
}

.image-three {
    background-image: url(../image/candles.jpg);
}

.image-four {
    background-image: url(../image/backpacks.jpg);
}

/*
.box-one {
    display: flex;
    margin-top: 30px;
     background-color: chocolate; 
    height: 200px;
     width: 290px; 
    border: 3.5px white solid;
    width: 25%;
}


.box-two {
    display: flex;
    margin-top: 30px;
     background-color: blue; 
    height: 200px;
     width: 290px; 
    border: 3.5px white solid;
    width: 25%;
}

.box-three {
    display: flex;
    margin-top: 30px;
     background-color: crimson; 
    height: 200px;
     width: 290px; 
    border: 3.5px white solid;
    width: 25%;
}

.box-four {
    display: flex;
    margin-top: 30px;
     background-color: darkkhaki; 
    height: 200px;
     width: 290px; 
    border: 3.5px white solid;
    width: 25%;
}

.text-container {

     display: flex; 
    justify-content: center;
     background-color: white; 
     margin-top: 225px; 
     margin-right: 85px; 
     position: absolute; 
     width: 1250px; 
     justify-items: auto; 
    border: 3.5px white solid
}

.text-one {
     display: flex; 
    height: 80px;
    width: 280px;
     background-color: blueviolet; 
    align-content: center;
    text-align: center;
     margin: 15px; 
     border: 3.5px; 
    margin-top: -12px;
}

.text-two {
     display: flex; 
    height: 80px;
    width: 280px;
     background-color: olivedrab; 
    align-content: center;
    text-align: center;
     margin: 15px; 
    margin-top: -12px;
}

.text-three {
     display: flex; 
    height: 80px;
    width: 280px;
     background-color: orange; 
    align-content: center;
    text-align: center;
     margin: 15px; 
    margin-top: -12px;
}

.text-four {
     display: flex; 
    height: 80px;
    width: 280px;
     background-color: palevioletred; 
    align-content: center;
    text-align: center;
     margin: 15px; 
    margin-top: -12px;
}
*/

/*jackie's end*/

.gearContainer {
    background-color: #dfd6c8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gearTitle {
    color: #eca237;
    width: 80%;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.5em
}

.gearTitle h2 {
    padding: 20px;
}

.gearTile {
    width: 80%;
    background-color: white;
    display: flex;
    margin-bottom: 5px;
    padding: 20px;
    height: 150px;
}

.tileImage {
    width: 40%;
    background-size: cover;
}

.imageOne {
    background-image: url(../image/chairs.jpg);
}

.tileText {
    width: 60%;
    padding: 10px;
}

.badge {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}