body {
    margin: 0;
    background-color: #333A35;
    width: 100vw;
}

.mainContainer {
    width: 95%;
    font-family:'Muli';
}

/*T's start*/



/*T's end*/

/*Jackie's start*/


/*jackie's end*/

.pageHead {
	color: white;
}

.gearContainer{
    background-color: #dfd6c8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gearTitle{
    color: #eca237;
    width: 80%;
    text-align: center;
}

.gearTile{
    width: 80%;
    background-color: white;
    display: flex;
    margin-bottom: 5px;
    padding: 20px;
}

.tileImage{
    width: 40%;
}
.imageOne{
    background-image: url(../image/chairs.jpg);
}
.tileText{
    width: 60%;
    padding: 10px;
}
